* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: orchid;
    margin-top: 10px;
    font-family: 'Ranchers', cursive;
    color: darkorchid;
    text-align: center;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 10px;
}
@media screen and (max-width: 625px){
    .posts {
        grid-template-columns: 1fr;
    }
}

.posts .post {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(105, 100, 100);
}

.posts .post p {
    margin-top: 10px;
}

